


.header-container {
  background-image: url('../images/Recurso-1.jpg');
  background-color: rgba(0,0,0,0);
  background-size: 50rem auto; /* Ancho fijo de 50rem, altura automática */
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 200vh;
  width: 50rem;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Centra el contenedor horizontalmente */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.Invitado-container {
  background-image: url('../images/Recurso-2.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 112vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Fecha-container {
  background-image: url('../images/Recurso-3.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 210vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.CuentaRegresiva-container{
  background-image: url('../images/Recurso-4.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 92vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Lugar-container{
  background-image: url('../images/Recurso-5.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 160vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Confirma-container{
  background-image: url('../images/Recurso-7.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 210vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.EndLogo-container{
  background-image: url('../images/Recurso-8.jpg');
    background-color: rgba(0,0,0,0);
    background-size: 50rem auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 30vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}




  .tilte_Main{
    font-family: 'Dragnie-Regular';
    font-size: 5rem;
  }
  .tilte_Secundary{
    font-family: 'Aurora-Magnollia';
    font-size: 5rem;
  }
  .Subtilte_Main{
    font-family: 'Aurora-Magnollia-two';
    font-size: 5rem;
  }



  .containerImg{
    display: flex;
    position: relative;
  }

  .imgAbsolute{
    display: flex;
    position: absolute;
    top: -50%;
    width: 40%;
    right: 0%;
    z-index: 5;
  }



  .btn-outline-one{
    display: flex;
    z-index: 100;
    background-color: #8199c7;
    padding: 2rem 4rem;
    border: 2px solid #8199c7;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Dragnie-Regular';
    font-size: 2rem;
    color: #ffffff;
    margin-top: 2rem;
    text-decoration: none;
}

.btn-outline-one:hover{
  color: #394864;
  background-color: rgb(200, 221, 255);
  border: 2px solid rgb(200, 221, 255);
}




.Confirma-text{
  display: flex;
  margin-top: -50rem;
}




  @media only screen and (max-width: 960px) { 

   

    .header-container {
      background-image: url('../images/Recurso-1.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 131vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }

    .Invitado-container {
      background-image: url('../images/Recurso-2.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 71vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }

    .Fecha-container {
      background-image: url('../images/Recurso-3.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 133.7vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }

    .CuentaRegresiva-container{
      background-image: url('../images/Recurso-4.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 57.8vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }

    .Lugar-container{
      background-image: url('../images/Recurso-5.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }
    .Confirma-container{
      background-image: url('../images/Recurso-7.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 135vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }
    .EndLogo-container{
      background-image: url('../images/Recurso-8.jpg');
      background-color: rgba(0,0,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }



    .containerImg{
      display: flex;
      position: relative;
    }

    .imgAbsolute{
      display: flex;
      position: absolute;
      top: -50%;
      width: 55%;
      right: 0%;
      z-index: 5;
    }





    
  .btn-outline-one{
    display: flex;
    z-index: 100;
    background-color: #8199c7;
    padding: 1rem 2rem;
    border: 2px solid #8199c7;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Dragnie-Regular';
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-one:hover{
  color: #394864;
  background-color: rgb(200, 221, 255);
  border: 2px solid rgb(200, 221, 255);
}


.Confirma-text{
  display: flex;
  margin-top: -30rem;
}



  }